# Object files
*.o

# Object files on Win
*.obj
*.exp

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# bin dir
bin/

#auto-save and backup files
*~
*#




#python compiled file
*.pyc
python/build/

#latex tmp file
latex/*.aux
latex/*.toc
latex/*.pdf
latex/*.log

#class
*.class

#linux bin
*.linux


#cscope
cscope.files
cscope.out