<?xml version="1.0" encoding="utf-8"?>
<!-- take GRSM_NH01 for sample -->

<config>
  <DB IP="172.30.201.141" DATABASE="GRSM_MAIN" USERNAME="grsm" PASSWD="******" />
  <REDIS IP="172.30.201.143" DB="1"/>
  <GATE ID="1" EXIP="112.65.196.121" INIP="172.30.201.145" />
  
  <GAME ID="1" EXIP="112.65.196.115" INIP="172.30.201.135" DsaType="1" MaxLoad="50" />
  <GAME ID="2" EXIP="112.65.196.116" INIP="172.30.201.136" DsaType="2" MaxLoad="60" />
  <GAME ID="3" EXIP="112.65.196.116" INIP="172.30.201.137" DsaType="3" MaxLoad="70" />

  
</config>
